/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 /*= require foundation
 */

 /*nav {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 3.875rem;
  background-color: green;
  top: 0;
  flex-grow: 1;
}*/
#app {
  /*background-color: #b3cccc;*/
  background-color: rgb(20, 23, 26);
  height: 200%;
}

.workout-info {
  color: lime;
  text-align: center;
  background-color: black;
  /*background-color: #e6b800;*/
  font-size: 2rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
}
.workout-info a {
  color: lime
}

.stopwatch {
  text-align: center;
  color: lime;
  font-size: 2rem;
}

.strstp-btn {
  border: 0;
  border-radius: 40px;
  background-color: black;
  margin: 5px;
}
.dead, .dead:hover, .dead:active, .dead:visited, .dead:focus, .dead:link{
  color: red;
}
.strstp-btn:hover {
  background-color: black;
}
.strstp-btn:active {
  background-color: black;
}

.strstp-btn:visited {
  background-color: black;
}
.strstp-btn:link {
  background-color: black;
}

.strstp-btn:focus {
  background-color: black;
}

.form-container {
  width: 50%;
  margin: auto;

}

.create-button {

}
.form-container span {
  /*color: blue;*/
}

.time-container {
  display: inline-flex;
}

.time-container span {
  font-size: 1.5rem;
}
#timer {
  /*font-family: 'Orbitron', sans-serif;*/
  font-size: 3.25rem;
}

#countdown {
  font-size: 3.25rem;
  background-color: orange;
}

.field {
  width: 50%;
  margin: auto;
}
